{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Welcome to my world of diverse interests and endless curiosity! I am a computer engineering and mathematics
          enthusiast with a deep-seated passion for exploring the intersections of technology, logic, and spirituality.
          Armed with a robust education in computer engineering, I have honed my skills in crafting innovative solutions
          to real-world problems.
        </p>
        <p>
          Beyond the realm of circuits and algorithms, my intellectual journey takes an exciting turn into the realms of
          religion, history, geography, and archaeology. My fascination with these subjects stems from a profound desire
          to understand the tapestry of human existence and the intricate threads that bind our past, present, and future.
        </p>
        <p>
          As an ardent student of religion, I delve into the philosophical and spiritual dimensions of different belief
          systems, seeking to unravel the profound questions that have captivated human minds for centuries.
          Simultaneously, my love for history propels me to explore the rich tapestry of our collective past,
          tracing the footsteps of civilizations, empires, and cultures that have shaped the world we inhabit today.
        </p>

        <p>
          Geography becomes a vibrant canvas for me to paint the landscapes of our planet, understanding the
          interconnectedness of people and places. Archaeology serves as a time machine, allowing me to unearth the
          artifacts and narratives buried beneath layers of time, piecing together the puzzle of our heritage.
        </p>

        <p>
          In this eclectic journey, I find joy in the synthesis of seemingly disparate fields, weaving together the
          analytical mindset of a computer engineer with the expansive perspectives of a historian and the contemplative
          spirit of a student of religion. Join me as I navigate this intellectual odyssey, constantly seeking to broaden
          my horizons and contribute to the tapestry of human knowledge.
        </p>

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
